<footer class="page-footer font-small fixed-bottom">

  <!-- Copyright -->
  <div class="footer-copyright float-right py-3 mr-1">© 2020 Copyright: <em>Rhonda Tinkham</em>
  </div>
  <!-- Copyright -->

</footer>